# image stuff
build/

# build files
*.o
*.d
*.bin
ds-craft.map

# minecraft original assets
mctex/
mcsnd/

# releases
releases/

# game binaries
bin/

# desktop.ini
desktop.ini

# melonDS config file
melonDS.ini

# cppcheck stuff
ds-craft.cppcheck
ds-craft-cppcheck-build-dir/

# pycache folder
__pycache__/

# backup files
*~

# vim swap files
*.swp

# cccc
.cccc/
