# image stuff
build/
source/img/*.s
gfx/*.h
gfx/*.s

# build files
*.o
*.d
*.bin
ds-craft.map

# minecraft original assets
mctex/
mcsnd/

# releases
releases/

# orignal textures zip
mctex.zip

# game binaries
bin/

# devktop.ini
desktop.ini

# melonDS config file
melonDS.ini

# cppcheck stuff
ds-craft.cppcheck
ds-craft-cppcheck-build-dir/

# pycache folder
__pycache__/

# backup files
*~
